body {
    background-image: url("./background.jpg") !important;
    color: #ffffff;
   
  }
  
  @media (max-width: 768px) {
    .swal2-popup {
      font-size: 1.6rem; /* Increase font size for better readability */
      width: auto; /* Adjust width to fit smaller screens */
      height: auto; /* Adjust height accordingly */
    }
  }

  
  .card {
    background-color: #1f1f1f;
    border-radius: 20px !important;
    padding: 2rem;
    
  }
  
  .card-title {
    color: #ffffff;
  }

  .btn-primary {
    background-color: #6200ea;
    border-color: #6200ea;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px !important;
    padding: 10px !important;
  }
  
  .btn-primary:hover {
    background-color: #3700b3;
    border-color: #3700b3;
  }
  .btn-outline-danger {
    width: 100px;
    margin-left: auto;
    margin-right: auto;

  }
  .text-black {
    color: #b0b0b0 !important;
  }
 